.card {
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #cecdcd;
    border-radius: 10px;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.likeIcon {
    cursor: pointer;
    font-size: 40px;
    color: #f33b3b !important;
}

.deletePos {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.deleteIcon {
    font-size: 20px;
}
