.card {
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: darkgray;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.likeFalse {
    width: 40px;
    height: 40px;
    background-color: #e7bfbf;
}

.likeTrue {
    width: 40px;
    height: 40px;
    background-color: red;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
}